.git
node_modules
backend/node_modules
backend/vendor
backend/storage/*.php
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*.php
backend/storage/logs/*.log
backend/public/storage
frontend/node_modules
frontend/dist
.env
Dockerfile
render.yaml
build.sh
*.sqlite
