APP_NAME=Portfolio
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://yourdomain.com

DB_CONNECTION=sqlite
DB_DATABASE=/app/database/database.sqlite

JWT_SECRET=
AI_API_KEY=

ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=

FRONTEND_URL=https://yourdomain.com

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=hello@yourdomain.com
MAIL_FROM_NAME="${APP_NAME}"
